.NoBooksFound{
  background: rgb(232,131,78);
  width: 50%;
  height: 25%;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;

  align-items: center;
  justify-content: center;

  flex-direction: column;
  font-weight: bold;
}

.NoBooksFound-text{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex:1;
}

.NoBooksFound-refresh-button{
  background: inherit;
  border: 0px;
  flex:1;
  background: #00000000; 
}

.NoBooksFound-refresh-img{
  width: 50px;
}