.Card{
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 25px;
  background: #fff;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .Card {
    width: 200px;
  }
}

.Card-img-wrapper{
  width:100%;
}

.Card-img{
  width:100%;
  border-radius: 25px;
}

.Card-info-wrapper{
  display: flex;
  flex-direction: column;
}

.Card-name{
  font-weight: bold;
}

.Card-rating{
  font-size: 1.5em;
  font-weight: lighter;
}

.Card-author{
  text-align: right;
  text-transform: uppercase;
  font-weight: bolder;
}


.Card-fav-button-wrapper{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.Card-fav-button{
  height: 50px;
  width: 50px;

  border-radius: 50px;
}

.Card-fav-icon{
  height: 25px;
  width: 25px;

  border-radius: 50px;
}

.red{
  background: red;
}

.grey{
  background: grey;
}
