.Card{
  display: flex;
  flex-direction: column;
  width: 20%;
  /* min-width: 200px; */
  margin: 10px;

  min-width: 200px;
}
/* 
@media only screen and (max-width: 600px) {
  .Card {
    width: 200px;
  }
} */

.Card-base-wrapper{
  width:100%;
  height:250px;
  max-width: 200px;
}

.Card-img{
  border-radius: 15px;
  width: inherit;
  height: 250px;
}

.Card-info-wrapper{
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0 0 15px 15px;
  padding: 15px;
  padding-top: 30px;
  transform: translate(0, -125px);
  height: 125px;
  box-sizing: border-box;
}

.Card-name{
  font-weight: bold;
  font-size: .6em;
  flex: 1;
}

.Card-rating{
  font-size: 1.5em;
  font-weight: 100;
  flex: 3;
  color: rgb(142,142,142);
  padding-top: 2%;
}

.Card-author{
  text-align: right;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: .5em;
  flex: 1;
}


.Card-fav-button-wrapper{
  height: 40px;
  width: 40px;
  border-radius: 40px;
  transform: translate(145px, -140px);
}

.Card-fav-button{
  height: inherit;
  width: inherit;

  border-radius: inherit;

  display: flex;
}

.Card-fav-icon{
  height: 20px;
  width: 20px;

  border-radius: inherit;
  transform: translate(2px,0)
}

.red{
  background: red;
}

.grey{
  background: grey;
}
