.Header{
  width: 300px;
  color: white;
  background: rgb(148,71,69);
  font-size: 3em;
  padding-left: 5%;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 0 0 15px 0;
}

.Header-line{
  width: 85%;
  margin: 0;
  margin-bottom: 5%;
  border-color: rgb(191,147,147);
}

.Header-small{
  font-size: .6em;
}