.Sidebar{
  background: rgb(49,58,71);
  width: 100px;
  height: 100%;
  color: white;
  font-size: 3em;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .Sidebar{
    display: none;
  }
}

.Sidebar-inner{
  background: rgb(49,58,71);
  display: flex;
  position: fixed;
  flex-direction: column;

  width: inherit;
  height: inherit;

  align-items: center;
  justify-content: space-between;
}

.Sidebar-header{
  padding-top: 20px;
  flex:9;
}

.Sidebar-button-refresh{
  background: inherit;
  border: 0px;
  width: 50px;
  height: 50%;

  flex: 1;
}

.Sidebar-refresh-img{
  background: inherit;
  width: 100%;
  height: 100%;
}

.Sidebar-button-settings{
  background: inherit;
  border: 0px;
  width: 50px;
  height: 50%;

  flex: 1;
}

.Sidebar-settings-img{
  background: inherit;
  width: 100%;
  height: 100%;
}